body {
	background: url(../img/Sqbg.jpg);
	color: black;
}

img {
	background: transparent;
}

h1 {
	line-height: 3em;
	text-align: center;
	text-transform: uppercase;
	font-size: 45px;
	boarder: 5px solid red;
	background: url(../img/cigarmaybe.jpg);
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 10%;
}

#bookmark {
	line-height: 2em;
	width: 50%;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

div #bookcover {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 10%;
	height: 10%;
}

#main-content {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#review {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 30px;
	line-height: 3em;
}

#individual {
	max-width: 50%;
	background-image:linear-gradient(RGB(204, 2, 12),RGB(125, 47, 2),RGB(125, 47, 2),RGB(125, 47, 2));
	border-radius: 15%;
}

#individual img {
	max-width: 60%;
	padding-bottom: 10px;
}

#review h4 {
	line-height: 2em;
	border-radius: 15%;
	font-size: 45px;
	font-weight: bold;
	color: white;
}

#link {
	line-height: 2em;
	font-weight: bold;
	font-size: 30px;
}

#links {
	background-color: black;
	background-opacity: 25%;
}

#links img {
	max-width: 25%;
}
.main-content-review{
	display:block;
	margin-left: auto;
	margin-right:auto;
	text-align: justify;
	margin-top: 14em;
}
.main-content-review h2{
	<!--background-color: RGB(204, 2, 12);
	border-radius:25%;
	line-height:2em;
	padding-right: 15px;
	padding-left:15px;-->
}

#formGroup {
	background-image:linear-gradient(RGB(204, 2, 12),RGB(125, 47, 2),RGB(125, 47, 2),RGB(125, 47, 2));
	border-radius: 15%;
	padding:15px;
	padding-right:0;
	padding-left:0;
	padding-top:0;
	margin-left:33%;
	margin-right: 33%;
	display:inline-block;
	justify-content:left;
}

.copyright {
	text-align: center;
	font-size: 10px;
}